div,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* background-color: lavenderblush; */
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /* background-image: url(u=3888284587,3919016379&fm=253&fmt=auto&app=138&f=JPEG.jpeg); */
    cursor: pointer;
    font-size: 2em;
}
body .div1 {
    /* display: flex; */
    border-radius: 10px;
    margin-top: 10%;
    /* margin-left: 35%; */
    width: 610px;
    height: 610px;
    /* background-color: #e5ecf3; */
    backdrop-filter: blur(20px);
    border-style: solid;
    border-width: 1.15px;
    border-color: #e1e1e1;
    box-shadow:-12px 8px 12px rgb(214, 212, 212);
}

.div2 {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    /* border-style: solid; */
    border-width: 1.15px;
    border-color: #e1e1e1;
    font-size: 40px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow:-4px 2px 4px rgb(214, 212, 212);
    backdrop-filter: blur(20px);    
}

.div3 {
    margin-top: 20px;
    width: 512px;
    height: 40px;
    /*border: solid;*/
    text-align: center;
}

.buttonStyle {
    /* vertical-align: middle; */
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border-width: 0.2px;
    border-color: #e1e1e1;
    /* background-color: #97CBFF; */
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow:-12px 8px 12px rgb(214, 212, 212);
    backdrop-filter: blur(20px);   
}

.timeText {
    position:static;
    margin-left: 60px;
    margin-top: 0px;
    font-size: 15px;
}

.inputStyle {
    float: auto;
    width: 100px;
    height: 30px;
    font-size: 30px;
}

.container {
    position: absolute;
    height: 90px;
    min-width: 420px;
    /* box-shadow: -12 8px 12px rgb(214, 212, 212); */
}

.container .flip {
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
    margin: 0 5px;
    border-radius: 8px;
    border-color: #e1e1e1;
    /* backdrop-filter: blur(20px); */
    border-style: solid;
    border-width: 1.15px;
    
}

.flip li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    font-size: 80px;
    text-align: center;
    line-height: 90px;
    font-weight: bold;
    perspective: 200px;
    transform-style: preserve-3d;
    /* overflow: hidden; */
    z-index: 1;
}

.flip li:first-child {
    z-index: 2;
}

.flip li>div {
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.flip .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip .up {
    transform-origin: 0 100%;
    border-radius: 6px 6px 0 0;
    top: 0;
}

.flip .up::after {
    content: '';
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    height: 4px;
    /* background-color: rgba(0, 0, 0, .4); */
    box-shadow: -12 8px 12px rgb(214, 212, 212);
}

.flip .down {
    transform-origin: 0 0;
    border-radius: 0 0 6px 6px;
    bottom: 0;
    
}

.flip .inn {
    position: absolute;
    height: 200%;
    width: 100%;
    border-radius: 6px;
    background-image: linear-gradient(to top, #f2edee 0%, #e3eeff 99%, #e3eeff 100%);
    /* background-color: #333; */
    /* text-shadow: 0 1px 1px #000; */
    box-shadow: -12 8px 12px rgb(214, 212, 212);
    
}

.flip .up .inn {
    top: 0;
}

.flip .down .inn {
    bottom: 0;
}

.flip li.active {
    animation: asd .5s .5s linear both;
}

@keyframes asd {
    0% {
        z-index: 2;
    }

    10% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

.flip li.active .down {
    z-index: 2;
    transform: rotate(90deg);
    animation: turn .5s .5s linear both;
}

@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.flip li.before {
    z-index: 3;
}

.flip li.before .up {
    z-index: 2;
    animation: turn2 .5s linear both;
}

@keyframes turn2 {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}


.division {
    position: relative;
    float: left;
    width: 10px;
    height: 90px;
    margin: 0 2px;
}
.division::before {
    content: '';
    position: absolute;
    top: 15px;
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: #ddd;
    box-shadow: -12 8px 12px rgb(214, 212, 212);
}
.division::after {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: #ddd;
    box-shadow: -12 8px 12px rgb(214, 212, 212);
}